<div>

  <div class="item item-icon-left item-text-wrap">

    <i class="icon ion-ios-people {{roomDetailsCtrl.room.category}}"></i>
    <b>{{roomDetailsCtrl.room.topic}}</b>

    <div class="item-text-wrap row">
      <div class="col col-40">
        Participants: {{roomDetailsCtrl.room.joined}}
      </div>
      <div class="col col-60">
        Status: {{roomDetailsCtrl.room.status}}
      </div>
    </div>

  </div>

  <div class="item item-text-wrap">
    <p>Actors:</p>        
    <div ng-repeat="actor in roomDetailsCtrl.room.actors">
      <b>{{actor.name}}</b>
    </div>
  </div>

</div>