<div>

  <div class="item item-icon-left item-text-wrap vert-51-padding">

    <i class="icon ion-ios-people {{roomDetailsCtrl.room.category}}"></i>
    <b>{{roomDetailsCtrl.room.topic}}</b>

    <div class="item-text-wrap row">
      <div class="col col-40">
        Participants: {{roomDetailsCtrl.room.joined}}
      </div>
      <div class="col col-60 text-right">
        Status: {{roomDetailsCtrl.room.status}}
      </div>
    </div>

  </div>

  <div class="item item-text-wrap vert-51-padding">
    <b>{{roomDetailsCtrl.listOfActors}}</b>
  </div>

</div>