<ion-view view-title="Register" name="register-view">
  <ion-content>
    <div class="list">
      <label class="item item-input item-stacked-label">
        <span class="input-label">Write your email</span>
        <input type="email" placeholder="itsatrump@twh.com" ng-model="registerCtrl.email">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Choose a password</span>
        <input type="password" placeholder="**********" ng-model="registerCtrl.password">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Please, confirm your password</span>
        <input type="password" placeholder="**********" ng-model="registerCtrl.confirmPassword">
      </label>
    </div>

    <div class="item item-toggle padding-vertical">
      <span style="font-size: 18px;">I want my profile to be <b>anonymous</b></span>
      <label class="toggle toggle-positive">
        <input type="checkbox" ng-model="registerCtrl.isUserAnonymous">
        <div class="track">
          <div class="handle"></div>
        </div>
      </label>
    </div>

    <div class="list list-inset" ng-show="!registerCtrl.isUserAnonymous">
      <label class="item item-input item-stacked-label">
        <span class="input-label">Choose a nickname</span>
        <input type="text" placeholder="trumpet17" ng-model="registerCtrl.nick">
      </label>
      <label class="item item-input item-stacked-label">
          <span class="input-label">Write your name</span>
          <input type="text" placeholder="Doneld" ng-model="registerCtrl.name">
      </label>
      <label class="item item-input item-stacked-label">
          <span class="input-label">Write your surname</span>
          <input type="text" placeholder="Tramp" ng-model="registerCtrl.surname">
      </label>
    </div>

    <div class="card text-center padding-vertical">
      <span>Please, select your birthdate:</span>
        <label class="input-label" style="margin: 0 auto;">
        <input type="date" ng-model="registerCtrl.birthDate">
      </label>
    </div>

    <div class="text-center padding">
      <span style="font-size: 18px;">By pressing the 'Register' button below, you accept the <a ng-click="registerCtrl.goToTermsOfService()"><b>Terms of Service.</b></a></span>
      <button class="button button-block button-royal" ng-click="registerCtrl.doRegister()">Register</button>
    </div>

  </ion-content>
</ion-view>