<ion-view view-title="Room List" name="room-list-view">
  <!-- Filter field -->
  <div class="card padding fixed-search-header">
    <label class="item item-input">
      <input type="text"
             placeholder="Enter a keyword"
             ng-model="roomListCtrl.searchField"
             ng-change="roomListCtrl.filterSearch()">
    </label>
  </div>
  <!-- List of rooms -->
  <ion-content class="ion-content-under-search ion-content-over-details">
    <div class="card">
      <div class="item item-icon-left"
           ng-repeat="room in roomListCtrl.existingRooms"
           ng-click="roomListCtrl.toggleRoomDetails(room)">
        <i class="icon ion-ios-people {{room.category}}"></i>
        <p>Topic: {{room.topic}}</p>
        <p>Status: {{room.status}}</p>
        <p>Participants: {{room.joined}}</p>
      </div>
    </div>
  </ion-content>
  <!-- Selected room details -->
  <div class="card bottom-details"
       ng-show="roomListCtrl.selectedRoom">
    <room-list-details room="roomListCtrl.selectedRoom"></room-list-details>
    <button class="button button-block button-calm" ng-click="roomDetailsCtrl.popupKeycodeInput()">Join</button>
  </div>
</ion-view>