<ion-view view-title="Room Creation" name="room-creation-wizard-view">
  <ion-content class="padding" scroll="false">

    <ion-slides options="options" slider="roomCreationWizardCtrl.slider">

      <!-- 1. Room basic info -->
      <ion-slide-page>
        <ion-content>
          <h2>¡Welcome to the room creation wizard!</h2>
          <p>
            Through 3 simple steps, we will empower you as a <b>moderator</b> in the creation of your own debate room.
          </p>             
          <h3 class="padding">
            Room basic info
          </h3>
          <div class="list padding">
            <label class="item item-input item-stacked-label">
              <span class="input-label"><b>*Main topic</b></span>
              <span class="input-label"><i>(maximum 42 characters)</i></span>
              <textarea type="text"
                        rows="3"
                        style="font-size: 20px; line-height: 22px;"
                        placeholder="Is Net Neutrality overrated?"
                        ng-model="roomCreationWizardCtrl.topic">
              </textarea>
            </label>
            <label class="item item-input item-select">
              <span class="input-label"><b>*Choose a category</b></span>
              <select style="font-size: 18px; line-height: 20px;">
                <option value="" disabled selected>Please Select...</option>
                <option ng-repeat="category in roomCreationWizardCtrl.categories">
                  <div class=""
                  <i class="icon {{category.icon}}"></i>
                  <p>{{category.name}}</p>
                </option>
              </select>
            </label>
            <label class="item item-input item-stacked-label">
              <span class="input-label">Short description</span>
              <span class="input-label"><i>(maximum 180 characters)</i></span>
              <textarea type="text"
                        rows="5"
                        style="font-size: 16px; line-height: 18px;"                  
                        ng-model="roomCreationWizardCtrl.description">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum tenetur obcaecati temporibus totam fugiat et quae quia quisquam asperiores esse eum ipsum porro officiis reiciendis unde molestias rerum molestiae. Perferendis. 
              </textarea>
            </label>
          </div>
          <div>
            <button class="button button-assertive" ng-click="doClick()">Tap</button>
          </div>
        </ion-content>
      </ion-slide-page>

      <!-- 2. List of actors -->
      <ion-slide-page>
        <ion-content>            
          <h3 class="padding">
            List of actors
          </h3>
          <div class="list padding">
            <div class="item item-button-right"
                 ng-repeat="actor in roomCreationWizardCtrl.actors track by $index">
              <div ng-click="roomCreationWizardCtrl.editActor(actor)">                
                <p style="font-size: 20px;">{{ actor.name | limitTo: 20 }}{{actor.name.length > 20 ? '...' : ''}}</p>
                <p>{{ actor.motto | limitTo: 30 }}{{actor.motto.length > 30 ? '...' : ''}}</p>
              </div>
              <button class="button button-light"
                      ng-click="roomCreationWizardCtrl.removeActor(actor)">
                <i class="icon ion-trash-b"></i>
              </button>
            </div>
            <div class="item item-button-right">
              <i>Add new actor</i>
              <button class="button button-light"
                      ng-click="roomCreationWizardCtrl.addNewActor()">
                  <i class="icon ion-person-add"></i>
              </button>
            </div>

          </div>
          <div>
            <button class="button button-assertive" ng-click="doClick()">Tap</button>
          </div>
        </ion-content>
      </ion-slide-page>

      <!-- 3. ??? -->
      <ion-slide-page>
        <ion-content>
          <h2>¡Welcome to the room creation wizard!</h2>
          <p class="padding">
            Through 3 simple steps, we will empower you as a <b>moderator</b> in the creation of your own debate room.
          </p>             
          <h3>
            Room basic info
          </h3>
          <div class="list padding">
            <label class="item item-input item-stacked-label">
              <span class="input-label"><b>*Main topic</b></span>
              <span class="input-label"><i>(maximum 42 characters)</i></span>
              <textarea type="text"
                        rows="3"
                        style="font-size: 20px; line-height: 22px;"
                        placeholder="Is Net Neutrality overrated?"
                        ng-model="roomCreationWizardCtrl.topic">
              </textarea>
            </label>
            <label class="item item-input item-select">
              <span class="input-label"><b>*Choose a category</b></span>
              <select style="font-size: 18px; line-height: 20px;">
                <option value="" disabled selected>Please Select...</option>
                <option ng-repeat="category in roomCreationWizardCtrl.categories">
                  <i class="icon ion-close-round {{category.icon}}-icon"></i>
                  <p>{{category.name}}</p>
                </option>
              </select>

            </label>
            <label class="item item-input item-stacked-label">
              <span class="input-label">Short description</span>
              <span class="input-label"><i>(maximum 180 characters)</i></span>
              <textarea type="text"
                        rows="5"
                        style="font-size: 16px; line-height: 18px;"                  
                        ng-model="roomCreationWizardCtrl.description">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum tenetur obcaecati temporibus totam fugiat et quae quia quisquam asperiores esse eum ipsum porro officiis reiciendis unde molestias rerum molestiae. Perferendis. 
              </textarea>
            </label>
          </div>
          <div>
            <button class="button button-assertive" ng-click="doClick()">Tap</button>
          </div>
          <div class="card">
            <div class="item item-icon-left" ng-click="roomCreationWizardCtrl.makeCode()">
              <i class="icon ion-qr-scanner" name="qr"></i>
              <p>Generate Room QR</p>
            </div>
          </div>
          <div id="qrcode"></div> 
        </ion-content>
      </ion-slide-page>

    </ion-slides>

  </ion-content>
</ion-view>

