<ion-view hide-nav-bar="true">
  <ion-content class="padding">

    <h2>{{dashCtrl.selectedRoom.topic}}</h2>
    <p>{{dashCtrl.selectedRoom.description}}</p>

    <div class="card">
      <div class="item item-text-wrap">
        <canvas id="pie"
                class="chart chart-pie"
                chart-data="dashCtrl.selectedRoom.data"
                chart-labels="dashCtrl.selectedRoom.labels">
        </canvas>
      </div>
    </div>

    <!-- Grid of options -->
    <div ng-if="dashCtrl.selectedRoom.options" class="list row-no-padding">
      <div ng-repeat="room in dashCtrl.selectedRoom.options track by $index">
        <!-- A row each pair of options -->
        <div class="row" style="padding-top: 0px;" ng-if="$even">
          <div ng-if="dashCtrl.selectedRoom.options[$index]" class="col col-50">
            <div class="card" style="margin: 0px;"
                 ng-click="dashCtrl.voteOption($index)">
              <div class="item item-text-wrap">
                {{dashCtrl.selectedRoom.options[$index].name}}
              </div>
            </div>
          </div>
          <div ng-if="dashCtrl.selectedRoom.options[$index+1]" class="col col-50">
            <div class="card" style="margin: 0px;"
                 ng-click="dashCtrl.voteOption($index+1)">
            <div class="item item-text-wrap">
                {{dashCtrl.selectedRoom.options[$index+1].name}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <p>
      <b>Hey!</b> - Visit <a href="http://view.ionic.io/" target="_blank">TribusWiki</a> to discover the idea behind this project.
    </p>
  </ion-content>
</ion-view>
