<ion-view hide-nav-bar="true">
  <ion-content class="padding">

    <h2>{{dashCtrl.selectedRoom.topic}}</h2>
    <p>{{dashCtrl.selectedRoom.description}}</p>

    <div class="card">
      <div class="item item-text-wrap">
        <canvas id="pie"
                class="chart chart-pie"
                chart-data="dashCtrl.selectedRoom.data"
                chart-labels="dashCtrl.selectedRoom.labels">
        </canvas>
      </div>
    </div>

    <!-- Grid of Actors -->
    <div ng-if="dashCtrl.selectedRoom.actors" class="list row-no-padding">
      <div ng-repeat="room in dashCtrl.selectedRoom.actors track by $index">
        <!-- A row each pair of actors -->
        <div class="row" style="padding-top: 0px;" ng-if="$even">
          <div ng-if="dashCtrl.selectedRoom.actors[$index]" class="col col-50">
            <div class="card" style="margin: 0px;"
                 ng-click="dashCtrl.voteActor($index)">
              <div class="item item-text-wrap">
                {{dashCtrl.selectedRoom.actors[$index].name}}
              </div>
            </div>
          </div>
          <div ng-if="dashCtrl.selectedRoom.actors[$index+1]" class="col col-50">
            <div class="card" style="margin: 0px;"
                 ng-click="dashCtrl.voteActor($index+1)">
              <div class="item item-text-wrap">
                {{dashCtrl.selectedRoom.actors[$index+1].name}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <p>
      <b>Hey!</b> - Visit <a href="http://view.ionic.io/" target="_blank">TribusProject</a> to discover the idea behind this project.
    </p>
  </ion-content>
</ion-view>
