<ion-view view-title="Hall" name="hall-view">
  <ion-content>

      <ion-slides options="options" slider="hallCtrl.sliderItem">
        
        <!-- 1. Basic Join/Create -->
        <ion-slide-page>
          <ion-content class="padding">
            <div class="list">
                
              <div class="card">
                <div class="item item-icon-left" ng-click="hallCtrl.scanBarCode()">
                  <i class="icon ion-qr-scanner" name="qr"></i>
                  <p>Scan the QR Code & join the room</p>
                </div>
              </div>
              <div class="card">
                <div class="item item-icon-left" ng-click="hallCtrl.goToRoomList()">
                  <i class="icon ion-qr-scanner" name="qr"></i>
                  <h2>Browse a room</h2>
                  <p>in the room list</p>
                </div>
              </div>
              <div class="card">
                <div class="item item-icon-left" ng-click="hallCtrl.createNewRoom()">
                  <i class="icon ion-qr-scanner" name="qr"></i>
                  <p>Create new room</p>
                </div>
              </div>
        
            </div>
          </ion-content>
        </ion-slide-page>
  
        <!-- 2. Room List -->
        <ion-slide-page>
          <!-- Filter field -->
          <div class="card no-padding fixed-search-header">
            <label class="item item-input item-input-wrapper">
              <input type="text"
                    id="roomListFilter"
                    placeholder="Enter a keyword"
                    ng-model="hallCtrl.searchField"
                    ng-change="hallCtrl.filterSearch()">
              <button class="button button-stable">
                <i ng-if="hallCtrl.searchField" class="icon ion-close-round placeholder-icon"></i>
                <i ng-if="!hallCtrl.searchField" class="icon ion-ios-search placeholder-icon"></i>
              </button>
            </label>
          </div>
  
          <!-- List of rooms -->
          <ion-content class="ion-content-under-search"
                      ng-class="{'ion-content-over-details': hallCtrl.shouldShowDetails}">
            <div class="card">
              <div class="item item-icon-left padding-vert-83 room-{{room.statusGlobal}}"
                  ng-repeat="room in hallCtrl.existingRooms"
                  ng-click="hallCtrl.toggleRoomDetails(room)">
                <i class="icon {{room.categoryIcon}}"></i>
                <b>{{room.topic}}</b>
                <div class="item-text-wrap row">
                  <div class="col col-40">
                    <p>Participants: {{room.joined}}</p>
                  </div>
                  <div class="col col-60 text-right">
                    <p>{{room.statusText}}</p>
                  </div>
                </div>
              </div>
            </div>
  
          </ion-content>
          <!-- Selected room details -->
          <div class="card bottom-details"
              ng-show="hallCtrl.shouldShowDetails">
            <room-list-details room="hallCtrl.selectedRoom"></room-list-details>
            <div class="bottom-button">
              <button ng-if="hallCtrl.selectedRoom.statusGlobal !== 'closed'"
                      class="button item-icon-right button-block category-{{hallCtrl.selectedRoom.globalColor}}"
                      ng-click="hallCtrl.popupKeycodeInput()">
                      <b>Join</b>
                      <i class="icon" ng-class="{'ion-android-lock': hallCtrl.selectedRoom.private}"></i>
              </button>
              <button ng-if="hallCtrl.selectedRoom.statusGlobal === 'closed'"
                      class="button item-icon-right button-block category-{{hallCtrl.selectedRoom.globalColor}}"
                      ng-click="hallCtrl.popupKeycodeInput()">
                      <b>Check final stats</b>
                      <i class="icon" ng-class="{'ion-android-lock': hallCtrl.selectedRoom.private}"></i>
              </button>
            </div>
          </div>
        </ion-slide-page>
        
      </ion-slides>

  </ion-content>
</ion-view>