<ion-view hide-nav-bar="true">
  <ion-content has-header="true">
    <div>
      <div id="profile-info">
        <img id="profile-image" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/94311/me.png">
        <h3 id="profile-name">{{profileCtrl.userEmail}}</h3>
        <h4 ng-click="profileCtrl.doLogout()"><a>Logout</a></h4>
      </div>
      <div id="profile-settings" class="card">
        <ion-toggle ng-model="profileCtrl.isAnonymous"
          ng-change="profileCtrl.anonymousToggle()">
          I want my profile to be <b>anonymous</b>
        </ion-toggle>
      </div>
      <div id="room-settings" class="card">
        <div class="item item-icon-right" ng-click="profileCtrl.leaveRoom()">
          <i class="icon ion-android-exit" name="qr"></i>
          <b>Leave current room</b>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>