<ion-view view-title="Login" name="login-view">
  <ion-content class="padding">
    <div class="list list-inset">
      <label class="item item-input">
        <span class="input-label">Email</span>
        <input type="text" ng-model="loginCtrl.email">
      </label>
      <label class="item item-input">
        <span class="input-label">Password</span>
        <input type="password" ng-model="loginCtrl.password">
      </label>
    </div>
    <button class="button button-block button-positive" ng-click="loginCtrl.doLogin()">Login</button>
    <button class="button button-block button-royal" ng-click="loginCtrl.goToRegister()">Register new account</button>
  </ion-content>
</ion-view>